.page-content
  / BEGIN PAGE HEADER
  .row
    .col-md-12
      / BEGIN PAGE TITLE & BREADCRUMB
      %h3.page-title
        Dashboard
        %small statistics and more
      %ul.page-breadcrumb.breadcrumb
        %li
          %i.icon-home
          %a{href: url("/admin")} Home
          %i.icon-angle-right
        %li
          Dashboard
      / END PAGE TITLE & BREADCRUMB
  / END PAGE HEADER
      
