%html
   %head   
      %title  AdminHome
   %body
      %h1 Admin Homepage
      %a{:href=> "/admin/browsePosts"}Browse Saved Posts
      %br
      %a{:href=> "/admin/newPost"}Create New Post
      %br
      %a{:href=> "/logout"}Logout
      %br

