!!!
/[if IE 8] <html lang="en" class="ie8 no-js">
/[if IE 9] <html lang="en" class="ie9 no-js">
/ [if !IE]><!
%html.no-js{lang: "en"}
  / <![endif]
  / BEGIN HEAD
  %head
    %meta{charset: "utf-8"}/
    %title Sinatra Blog | Admin Dashboard
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %meta{content: "320", name: "MobileOptimized"}/
    / BEGIN GLOBAL MANDATORY STYLES
    %link{href: url("assets/plugins/font-awesome/css/font-awesome.min.css"), rel: "stylesheet", type: "text/css"}/
    %link{href: url("assets/plugins/bootstrap/css/bootstrap.min.css"), rel: "stylesheet", type: "text/css"}/
    %link{href: url("assets/plugins/uniform/css/uniform.default.css"), rel: "stylesheet", type: "text/css"}/
    / END GLOBAL MANDATORY STYLES
    / BEGIN PAGE LEVEL PLUGIN STYLES
    %link{href: url("assets/plugins/gritter/css/jquery.gritter.css"), rel: "stylesheet", type: "text/css"}/
    %link{href: url("assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css"), rel: "stylesheet", type: "text/css"}/
    %link{href: url("assets/plugins/fullcalendar/fullcalendar/fullcalendar.css"), rel: "stylesheet", type: "text/css"}/
    %link{href: url("assets/plugins/jqvmap/jqvmap/jqvmap.css"), rel: "stylesheet", type: "text/css"}/
    %link{href: url("assets/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.css"), rel: "stylesheet", type: "text/css"}/
    / END PAGE LEVEL PLUGIN STYLES
    / BEGIN THEME STYLES
    %link{href: url("assets/css/style-metronic.css"), rel: "stylesheet", type: "text/css"}/
    %link{href: url("assets/css/style.css"), rel: "stylesheet", type: "text/css"}/
    %link{href: url("assets/css/style-responsive.css"), rel: "stylesheet", type: "text/css"}/
    %link{href: url("assets/css/plugins.css"), rel: "stylesheet", type: "text/css"}/
    %link{href: url("assets/css/pages/tasks.css"), rel: "stylesheet", type: "text/css"}/
    %link#style_color{href: url("assets/css/themes/default.css"), rel: "stylesheet", type: "text/css"}/
    %link{href: url("assets/css/custom.css"), rel: "stylesheet", type: "text/css"}/
    / END THEME STYLES
    %link{href: "favicon.ico", rel: "shortcut icon"}/
  / END HEAD
  / BEGIN BODY
  %body.page-header-fixed
    / BEGIN HEADER
    .header.navbar.navbar-inverse.navbar-fixed-top
      / BEGIN TOP NAVIGATION BAR
      .header-inner
        / BEGIN LOGO
        %a.navbar-brand{href: url("/admin")}
          %img.img-responsive{alt: "logo", src: url("assets/img/logo.png")}/
        / END LOGO
        / BEGIN RESPONSIVE MENU TOGGLER
        %a.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", href: "javascript:;"}
          %img{alt: "", src: url("assets/img/menu-toggler.png")}/
        / END RESPONSIVE MENU TOGGLER
        / BEGIN TOP NAVIGATION MENU
        %ul.nav.navbar-nav.pull-right
          / BEGIN USER LOGIN DROPDOWN
          %li.dropdown.user
            %a.dropdown-toggle{"data-close-others" => "true", "data-hover" => "dropdown", "data-toggle" => "dropdown", href: "#"}
              - @auth_user = User[session[:user_id]]
              %img{alt: "", src: "http://gravatar.com/avatar/#{md5(@auth_user.email)}?s=29"}/
              %span.username= "#{@auth_user.first_name} #{@auth_user.last_name}"
              %i.icon-angle-down
            %ul.dropdown-menu
              %li
                %a{href: "#"}
                  %i.icon-user
                  My Profile
              %li
                %a{href: url("/logout")}
                  %i.icon-key
                  Log Out
          / END USER LOGIN DROPDOWN
        / END TOP NAVIGATION MENU
      / END TOP NAVIGATION BAR
    / END HEADER
    .clearfix
    / BEGIN CONTAINER
    .page-container
      / BEGIN SIDEBAR
      .page-sidebar.navbar-collapse.collapse
        / BEGIN SIDEBAR MENU
        %ul.page-sidebar-menu
          %li{style: "margin-bottom: 35px;"}
            / BEGIN SIDEBAR TOGGLER BUTTON
            .sidebar-toggler.hidden-phone
            / BEGIN SIDEBAR TOGGLER BUTTON
          %li.start.active
            %a{href: url("/admin")}
              %i.icon-home
              %span.title Dashboard
              %span.selected
          %li
            %a{href: "javascript:;"}
              %i.icon-file-alt
              %span.title Posts
              %span.arrow
            %ul.sub-menu
              %li
                %a{href: url("/admin/post/all")} All posts
              %li
                %a{href: url("/admin/post/new")} Add new
              %li
                %a{href: url("/admin/categories")} Categories
              %li
                %a{href: url("/admin/tags")} Tags
          %li
            %a{href: url("/admin/comments")}
              %i.icon-comments-alt
              %span.title Comments
          %li
            %a{href: "javascript:;"}
              %i.icon-user
              %span.title Users
              %span.arrow
            %ul.sub-menu
              %li
                %a{href: url("/admin/users")} All users
              %li
                %a{href: url("/admin/newuser")} Add new
        / END SIDEBAR MENU
      / END SIDEBAR
      / BEGIN PAGE
      .page-content
        / BEGIN PAGE HEADER
        .row
          .col-md-12
            / BEGIN PAGE TITLE & BREADCRUMB
            %h3.page-title
              Dashboard
              %small statistics and more
            %ul.page-breadcrumb.breadcrumb
              %li
                %i.icon-home
                %a{href: url("/admin")} Home
                %i.icon-angle-right
              %li
                Dashboard
            / END PAGE TITLE & BREADCRUMB
        / END PAGE HEADER
      / END PAGE
    / END CONTAINER
    / BEGIN FOOTER
    .footer
      .footer-inner
        2013 © Sinatra Blog by masters.
      .footer-tools
        %span.go-top
          %i.icon-angle-up
    / END FOOTER
    / BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time)
    / BEGIN CORE PLUGINS
    /[if lt IE 9]
      %script{src: url("assets/plugins/respond.min.js"), type: "text/javascript"}
      %script{src: url("assets/plugins/excanvas.min.js"), type: "text/javascript"}
    %script{src: url("assets/plugins/jquery-1.10.2.min.js"), type: "text/javascript"}
    %script{src: url("assets/plugins/jquery-migrate-1.2.1.min.js"), type: "text/javascript"}
    / IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip
    %script{src: url("assets/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js"), type: "text/javascript"}
    %script{src: url("assets/plugins/bootstrap/js/bootstrap.min.js"), type: "text/javascript"}
    %script{src: url("assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js"), type: "text/javascript"}
    %script{src: url("assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"), type: "text/javascript"}
    %script{src: url("assets/plugins/jquery.blockui.min.js"), type: "text/javascript"}
    %script{src: url("assets/plugins/jquery.cookie.min.js"), type: "text/javascript"}
    %script{src: url("assets/plugins/uniform/jquery.uniform.min.js"), type: "text/javascript"}
    / END CORE PLUGINS
    / BEGIN PAGE LEVEL PLUGINS
    %script{src: url("assets/plugins/jqvmap/jqvmap/jquery.vmap.js"), type: "text/javascript"}
    %script{src: url("assets/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js"), type: "text/javascript"}
    %script{src: url("assets/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js"), type: "text/javascript"}
    %script{src: url("assets/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js"), type: "text/javascript"}
    %script{src: url("assets/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js"), type: "text/javascript"}
    %script{src: url("assets/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js"), type: "text/javascript"}
    %script{src: url("assets/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js"), type: "text/javascript"}
    %script{src: url("assets/plugins/flot/jquery.flot.js"), type: "text/javascript"}
    %script{src: url("assets/plugins/flot/jquery.flot.resize.js"), type: "text/javascript"}
    %script{src: url("assets/plugins/jquery.pulsate.min.js"), type: "text/javascript"}
    %script{src: url("assets/plugins/bootstrap-daterangepicker/moment.min.js"), type: "text/javascript"}
    %script{src: url("assets/plugins/bootstrap-daterangepicker/daterangepicker.js"), type: "text/javascript"}
    %script{src: url("assets/plugins/gritter/js/jquery.gritter.js"), type: "text/javascript"}
    / IMPORTANT! fullcalendar depends on jquery-ui-1.10.3.custom.min.js for drag & drop support
    %script{src: url("assets/plugins/fullcalendar/fullcalendar/fullcalendar.min.js"), type: "text/javascript"}
    %script{src: url("assets/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.js"), type: "text/javascript"}
    %script{src: url("assets/plugins/jquery.sparkline.min.js"), type: "text/javascript"}
    / END PAGE LEVEL PLUGINS
    / BEGIN PAGE LEVEL SCRIPTS
    %script{src: url("assets/scripts/app.js"), type: "text/javascript"}
    %script{src: url("assets/scripts/index.js"), type: "text/javascript"}
    %script{src: url("assets/scripts/tasks.js"), type: "text/javascript"}
    / END PAGE LEVEL SCRIPTS
    :javascript
      jQuery(document).ready(function() {    
         App.init(); // initlayout and core plugins
      });
    / END JAVASCRIPTS
  / END BODY