%html
   %head   
      %title AddNewPost
   %body
      %label{:style=>"font-style:italic; font-size:9pt"} #{@loggedinuser.username} is logged in 
      %h1 Add New Post
      %a{:href => "/admin/browsePosts"}Back to browse posts
   %form{:action => "/admin/newPost", :method => "post"}
      %label{:for => "title"} Title:
      %input{:type => 'text', :name => 'title'}
      %br
      %label{:for => "content"} Content:
      %textarea{:name => "content", :rows=> '10', :cols => '50'}
      %br
      %input{:type => 'submit', :value => 'Create'}
