%html
   %head   
      %title  MyBlog.Home
   %body
      %h1 Welocome to MyBlog
      %a{:href=> "/browsePosts"}Browse Uploaded Posts
      %br
      %a{:href => "/login"}Login for Administration


